[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
default = true

[[source]]
name = "torch-cu121"
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
secondary = true

[packages]
torch = ">=2.2.0,<3.0.0"
torchvision = ">=0.17.0,<1.0.0"
torchaudio = ">=2.2.0,<3.0.0"
numpy = "*"
opencv-python = "*"
einops = "*"
gymnasium = "*"
ale-py = "*"
notebook = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.12"
